<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../components/head") %>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <header><%- include("../components/header.ejs") %></header>
    <section class="container-md mt-3 text-center">
      <h1>All life student</h1>
      <p>Problem with Windows?</p>
      <img src="/itDep.jpg" alt="It deps!" />
    </section>
  </body>
</html>
