<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../components/head") %>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <header><%- include("../components/header.ejs") %></header>
    <section class="container-md mt-3 text-center">
      <h1>New search experience powered by AI</h1>
      <p class="homeMainText">
        CloneFlow is leveraging AI to summarize the most relevant questions
        and answers from the community, with the option to ask follow-up
        questions in a conversational format.
      </p>
    </section>
  </body>
</html>
