<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../components/head.ejs") %>
</head>

<body>
  <%- include("../components/header.ejs") %>
      <main>
        <h1>Not authenticated!</h1>
        <p>
          You are not authenticated and therefore not allowed to access this page!
          Go to <a href="/login">Login page</a>
        </p>
      </main>
</body>

</html>