<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../components/head.ejs") %>
</head>

<body>
  <%- include("../components/header.ejs") %>
      <main>
        <h1>Not authorized!</h1>
        <p>
          You are not authorized to see this content! Go to
          <a href="/">Go home!</a>
        </p>
      </main>
</body>

</html>