<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../components/head") %>
</head>

<body>
  <%- include("../components/header") %>
      <main>
        <h1>404 Page not found</h1>
        <p>!!!! Sorry !!!!</p>
        <button onclick="window.location.href='/'">Go Home</button>
      </main>
</body>

</html>