<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../components/head.ejs") %>
  </head>
  <body>
    <%- include("../components/header.ejs") %>
    <main>
      <h1>Vyskytla sa chyba! 500</h1>
      <p>!!!! Sorry, snazime sa to co najskor opravit !!!!</p>      
      <% //if (typeof message !== 'undefined' && message) { %>
        <p><%= //message %></p>
      <% //} %>
    </main>
  </body>
</html>
