<aside id="mobile-drawer">
  <nav>
    <ul class="actions">
      <li><a href="/questions">Show Questions</a></li>
      <li><a href="/askQuestion">Ask Question</a></li>
      <li><a href="/about">About CloneFlow</a></li>
    </ul>
  </nav>
</aside>
