section ul {
  list-style: none;
  max-width: 40rem;
  margin: 0px auto;
  margin-top: 2rem;
}

.myCard {
  font-size: 0.8rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.longText {
  width: "100%";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
